.input-group {
  margin: 25px 0 0 0;
  padding: 0;


  label {
    width: 100%;
    display: block;
    margin: 0 15px;
    padding: 0;

    color: #8691A5;
    font-weight: 600;
  }

  input {
    width: 79%;
    display: flex;
    margin-right: 20px;
    padding: 0 15px;
    border: 2px solid #DBDFEA;
    border-radius: 30px;

    font-weight: 600;
  }

  button {
    display: block;
    width: 19%;
    border: 1px solid #F0F1F5;
    border-radius: 30px;

    color: #000;
    font-weight: 600;
  }
}
